Meta
doc
.Rproj.user
.Rhistory
.RData
.Ruserdata
inst/doc
vignettes/SelectingParameters_cache
vignettes/SelectingParameters_files
vignettes/ModelSpecification_cache
docs

tests/testthat/*.pdf

bash.exe.stackdump
sh.exe.stackdump
